/* reset */
* {outline: none; padding:0; margin: 0; background-color: #FFFFFF; color: #4A4A4A; }
html { font-size: 1em; line-height: 1.5rem; }
body{ margin: auto; padding: 0; max-width: inherit; }
img {max-width: 100% ; height: auto; }

/* main */
body{ background-color: #DDDDDD;}
body { font-family: Helvetica, Arial, sans-serif; }
body, div { padding: 15px 0; }
h1{ padding: 2rem 0 0.5rem 0; font-size: 2.4em; font-family: Verdana, Geneva, Tahoma, sans-serif; }
h1 { text-align: center; }

.page-wrap{ max-width: calc( 98% - 16px - 16px ); padding: 0 16px; margin: 0 auto; }
.annualstats{ text-align: center; }
.ragcontainer{ box-sizing: border-box; } 
.thumb {
  max-width: calc(100% - 5px - 2.5px - 12px); 
  box-shadow: 10px 5px 12px #4A4A4A;
}

/* flex display */
.yearcontainer:before { content: ""; display: table; } 
.yearcontainer { display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-around; }
.yearcontainer:after { content: "."; display: block; height: 0; visibility: hidden; clear: both; }

.annualstats{ flex: none; }

/* .ragcontainer { flex: initial; } */ /* commented originally */
.ragcontainer { display: flex; }

/* Render items as columns - uncommenting this turns items into a flexible column */
/* .ragcontainer { flex-direction: column; flex-wrap: wrap; }  */

.comicanchor { display: flex; flex-direction: row; justify-content: space-around; }
.comicanchor { flex-wrap: wrap; } /* ORIG */

