{{#each comics}}
  <div class="yearcontainer">

    <h1>{{year}}</h1>

    <div class="annualstats">
      <p>Average Price: ${{avgPrice}}</p>
      <p>Low/High Price: ${{minPrice}} / ${{maxPrice}}</p>
      <p>Average Page Count: {{avgPageCount}}</p>
    </div>

    <div class="ragcontainer">
      {{#each thumbobjects}}
        {{{ SAFER_thumbs this }}}
      {{/each}}
    </div>
    
  </div>
{{/each}}